# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.env
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

VITE_SUPABASE_URL = https://lzuylzeszwxjehfjdgsj.supabase.co
VITE_SUPABASE_ANON_KEY = sb_publishable_XKlqSk9NsTMy5NsIgJL5Nw_3ztP0AMI
